*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    font-family: 'Roboto';
    color: $base-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
}
a {
    text-decoration: none
}
ul {
    list-style: none;
}
button {
    padding: 0;
    width: 0;
    height: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
