/* ---- screen sizes ---- */
$desktop-max: 1439px;
$desktop-min: 1024px;
$tablet-max: 1023px;
$tablet-min: 768px;
$mobile-max: 767px;

/* ---- colors ---- */
$black: #121212;
$white: #FFFFFF;
$base-color: #3D5170; 
$header-placeholder: #767F9D; 
$footer-link: #007BFF;
$footer-copyright: #818EA3;
$label-color: #495057;
$input-border-color: #BECAD6;

/* ---- background-colors ---- */
$bg-admin: #F5F6F8;



/* ---- shadows ---- */
$aside-shadow:  0 1px 75px rgba(90,97,105,.11),
                0 2px 4px rgba(90,97,105,.12),
                0 7.5px 11px rgba(90,97,105,.1),
                0 3.5px 17.5px rgba(165,182,201,.1);
                
$aside-header-shadow: 0 1px 0 #E1E5EB;

$nav-item-shadow: inset 0 -1px 0 #E1E5EB;

$header-shadow: 10px 5px 10px rgba(90, 97, 105, 0.12);

$notifications-shadow: -0.5px 0 0px #CACEDB,
                        0.5px 0 0px #CACEDB;

$footer-shadow: 0 -0.5px 0px #D7DAE3; 

$login-modal-shadow:0px 4px 35px rgba(90, 97, 105, 0.1),
                    0px 5px  5px rgba(90, 97, 105, 0.06),
                    0px 2px 4px rgba(90, 97, 105, 0.12),
                    0px 1px 0px rgba(90, 97, 105, 0.11);

$card-shadow:   0px 7px 70px rgba(90, 97, 105, 0.1),
                0px 10px 10px rgba(90, 97, 105, 0.06),
                0px 4px 8px rgba(90, 97, 105, 0.12),
                0px 2px 0 rgba(90, 97, 105, 0.11); 

$card-header-shadow:    0px 0.5px 0 #E0E2E8,
                        0px -0.5px 0 #E0E2E8;                                   